*{
	margin:  0;
	padding: 0;
	font-family: "Arial";
}
html, body{
	height: 100%;
}

body{
	background-image: url("../img/background.jpg");
	background-size: cover;
}

header{
	display: flex;
	align-items: center;
	width: 100%;
	background: linear-gradient(to top, darkgray, gray, lightgray);
	height: 50px;
}

#title{
	font-size: 28px;
	color: white;
	text-shadow: 0px 0px 5px black;
	margin-left: 10px;
}

main{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: linear-gradient(to top, gray, black, gray);
	width: 100%;
}

nav > a{
	text-decoration: none;
	color: whitesmoke;
	font-weight: bold;
}

article{
	display: flex;
	flex-direction: column;
	width: 60%;
	background-color: white;
	opacity: 0.9;
}

#article-title{
	text-align: center;
	margin-top: 20px;
}

article > p {
	text-align: justify;
	padding: 10px;
}
article > p:hover{
	color: darkblue;
}

.article-img{
	margin: auto;
	width: 90%;
	border-radius: 10px;
	box-shadow: 0px 0px 10px gray;
}

.last-news{
	display: flex;
	flex-direction: column;
	background-color: lightgray;
}
.last-news-card{
	display: flex;
	align-items: center;
	border-top: solid 1px black;
}
.last-news-card > a {
	text-decoration: none;
	font-size: 18px;
	color: black;
	margin-left: 5px;
}
.last-news-card > a:hover{
	color: blue;
}
.last-news-card > img {
	width: 200px;
}

footer{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: gray;
	color: white;
	height: 50px;
}

@media screen and (max-width: 768px){
	article{
		width: 100%;
	}
}
